build/*
build/*/*
build/*/*/*
!build/generatefromfile.sh
!build/generatemesh.sh
!build/generatemesh_withplotting.sh
data/*
data/*/*
experiments/*.off
experiments/*/*.off
experiments/*/*/*.off

!data/datagenerator.sh
!data/datagenerator_withplotting.sh
!data/plot_triangulation.py
!data/10000x10000RandomPoints.py

!data/pikachu*
!data/points50.1.*
!data/points50_polylla.1.pdf

.vscode
.vscode/*